extends ../layouts/main-layout.jade

block page-link
	-var selected = "About me";

block title
	title portfolio

block content
	section.about
		h2.about__title General information
		.about__main
			.avatar
				.avatar__box
					img.avatar__img(src="images/avatar.png", alt="avatar")
			.about__personal
				ul.about__personal-list
					li.about__personal-item
						span.about__personal-gen My name:
						|Dermanovskiy Vadim
					li.about__personal-item
						span.about__personal-gen Years old:
						|27 years
					li.about__personal-item
						span.about__personal-gen Location:
						|Las Vegas, NV
					li.about__personal-item
						span.about__personal-gen Position:
						|FRONTEND developer
					li.about__personal-item
						span.about__personal-gen Main skills:
						.skills
							.skills__item html
							.skills__item css
							.skills__item javascript
							.skills__item gulp
							.skills__item git
	section.about
		h2.about__title Experience
		ul.about__list
			li.about__item
				.about__where.bag-ico Freelance - FRONTEND developer
					p.about__date August 2014 - present time

			li.about__item
				.about__where.bag-ico British Petroleum - Plastic Card Terminal Network Support Engineer
					p.about__date March 2012 - August 2014
	section.about
		h2.about__title Education
		ul.about__list
			li.about__item
				.about__where.magi-ico Master's degree. Microelectronics and Solid State Electronics.
					p.about__date September 2005 - August 2010

			li.about__item
				.about__where.doc-ico Loftschool - Extensive web development course
					p.about__date May 2015 - August 2015