extends ../layouts/login-layout.jade

block title
	title autorization

block content
	section.login
		header.login__header
			h2.login__title Авторизируйтесь
			form.login__form(action="ajax.php" method="post" class="login-form" name="page4-form" id="login-to-site")
				.login__input
					.login__input_wrap
						label.label(for="login-name")
							span.login__input_span Логин
							input.input-text(type="text" name="login-name" placeholder="Введите логин" id="login-name" data-validation="text")
					.login__input_wrap
						label.label(for="login-pass")
							span.login__input_span Пароль
							input.input-text(type="password" name="login-password" placeholder="Введите пароль" id="login-pass" data-validation="text")
				div.login__btm
					input.login__submit(type="submit" value="Войти" id="proj-sbm")