extends ../layouts/main-layout.jade

block page-link
	-var selected = "My works";

block title
	title my works

block content
	section.projects
		h2.projects__title My works
		ul.projects__list
			li.projects__item
				.project
					.project__logo-wrap
						.project__logo
							img.project__img(src="images/site1.png", alt="project logo")
							.project-hover
								a.project__link-hover(href="www.thenoodly.com") Vadim's portfolio
					a.project__address www.thenoodly.com
				.project__info
					p.project__info-text Project information
					p.project__info-text My portfolio jade+scss+js
			li.projects__item
				.project
					.project__logo-wrap
						.project__logo
							img.project__img(src="images/site2.png", alt="project logo")
							.project-hover
								a.project__link-hover(href="http://cn26125.tmweb.ru/") Draft
					a.project__address http://cn26125.tmweb.ru/
				.project__info
					p.project__info-text Project information
					p.project__info-text Just a page git + gulp
			li.projects__item
				.project
					.project__logo-wrap
						.project__logo
							img.project__img(src="images/site3.png", alt="project logo")
							.project-hover
								a.project__link-hover(href="http://watermarkgen.ru/") first collective work
				a.project__address http://watermarkgen.ru/
					.project__info
					p.project__info-text Project information
					p.project__info-text all js is my work
			li.projects__item
				.project
					.project__logo-wrap
						.project__logo
							img.project__img(src="images/site4.png", alt="project logo")
							.project-hover
								a.project__link-hover(href="#") there is name of website
					a.project__address www.site.com
				.project__info
					p.project__info-text Project information
					p.project__info-text nothing
			li.projects__item
				.project__add
					a.project__add-link(href="#" id="add-new-proj") Add project
