.popup(id="open-popup")
	form.popup__form(action="ajax.php" method="POST" name="page2-form" id="add-project")
		fieldset.popup__wrap
			header.popup__header
				legend.popup__title add project
				a.popup__close(id="close-popup" href="#")
			.popup__inputs
				.form-group
					label.label(for="prj-name") Project name
						input.input-text(type="text" name="project-name" data-validation="text" placeholder="enter the project name" id="prj-name")

				.form-group
					label.label(for="prj-file") Project image
						.fileupload
							.file-downl
								input.input-file(type="file" id="prj-file" name="files")
								input(id="fileurl" type="hidden" name="fileurl")
							input.input-text.file-upl(type="text" name="project-file-name" data-validation="file" placeholder="download image" id="prj-file-name")
				
				.form-group
					label.label(for="prj-url") Project URL
						input.input-text(type="url" name="project-url" placeholder="add URL" data-validation="text" id="prj-url")

				.form-group
					label.label(for="prj-url") Description
						textarea.my-works-area.input-text(name="project-description" data-validation="text" placeholder="few words about your project")
				
				.submit
					input.submit__btn(type="submit" value="Добавить" id="proj-sbm")

