address.contacts
	ul.contacts__list
		li.contacts__item Контакты
		li.contacts__item
			a.contacts__link.contacts__link-email(href="mailto:thenoodly@gmail.com") thenoodly@gmail.com
		li.contacts__item
			a.contacts__link.contacts__link-cell(href="tel:+1-(702)-964-5440") +1-(702)-964-5440
		li.contacts__item
			a.contacts__link.contacts__link-skype(href="skype:skype_no0dly?chat") no0dly