block page-link
-var menu = { "About me": "/", "My works": "/my-works.html", "Contact me": "/contact-me.html"};
nav.navigation
	ul.navigation__list
		each val, key in menu
			if selected === key
				li.navigation__item.current
					a.navigation-link(href=val)= key
			else
				li.navigation__item
					a.navigation-link(href=val)= key